{
  "$schema": "https://opencode.ai/config.json",

  "snapshot": true,
  "autoupdate": false,

  "permission": {
    "external_directory": {
      "/tmp/**": "allow"
    }
  },

  "plugin": ["opencode-pty"],
  "mcp": {
    "exa": {
      "type": "remote",
      "url": "https://mcp.exa.ai/mcp",
      "enabled": true,
      "headers": {
        "x-api-key": "YOUR_EXA_API_KEY"
      }
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "enabled": true,
      "headers": {
        "Authorization": "Bearer YOUR_TOKEN"
      }
    },
    "github": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp",
      "enabled": true,
      "headers": {
        "Authorization": "Bearer YOUR_TOKEN"
      }
    }
  },

  "provider": {
    "opencode": {
      "whitelist": []
    },
    "github-copilot": {
      "whitelist": []
    },
    "NAME_PROVIDER": {
      "name": "NAME_PROVIDER",
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "URL",
        "apiKey": "API_KEY"
      },
      "whitelist": ["NAME_MODEL"],
      "models": {
        "": {
          "name": "NAME_MODEL",
          "limit": {
            "context": 256000,
            "output": 128000
          },
          "options": {
            "reasoningEffort": "high",
            "textVerbosity": "low"
          },
          "variants": {
            "low": {
              "reasoningEffort": "low"
            },
            "medium": {
              "reasoningEffort": "medium"
            },
            "high": {
              "reasoningEffort": "high"
            }
          }
        }
      }
    }
  }
}
